<main>
  <div>
    <main>
      <h2><strong>Bienvenido a <i>Shopéame?</i></strong></h2>
      <article>
          <h3>Qué es <i>Shopéame?</i></h3>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              molestiae animi adipisci quisquam ullam. Nesciunt blanditiis perferendis
              reiciendis repellendus officiis. Exercitationem, ducimus dolorem. Odit
              quasi possimus impedit, officia ad cumque. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Placeat perferendis temporibus,
              repudiandae omnis ab hic quo eveniet accusamus pariatur facilis cumque
              quis odit nihil quasi voluptatem voluptate.
          </p>
      </article>

      <article>
          <h3>¿Para qué puedo usar <i>Shopéame?</i></h3>
          <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
              alias aperiam ullam tempore tenetur enim ab, dolorum excepturi
              architecto esse saepe dolorem voluptate ipsum aut nisi! Asperiores
              debitis quisquam quae? Lorem ipsum dolor sit amet consectetur
              adipisicing elit.
          </p>
      </article>
      <article>
          <h3>¿Quienes hacemos en <i>Shopéame?</i></h3>
          <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam,
              perferendis exercitationem, quos illo a dolorem cumque quo, illum atque
              molestiae reiciendis reprehenderit ipsa consequatur culpa. Tenetur esse
              vel aliquid minima?
          </p>
      </article>
      <article>
          <h3>¿Es seguro usar <i>Shopéame?</i></h3>
          <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda
              expedita veniam nostrum quod explicabo. Molestiae explicabo, tempora
              libero animi similique in ex reiciendis sapiente inventore deserunt?
              Nesciunt iste quisquam veniam.
          </p>
      </article>
  </main>

